/*{
    margin: 0px;
    padding: 0px;
}*/
body, html {
    height: 100%;
    width: 100%;
  }
.bg-wrap{
    background-image: url("https://i.stack.imgur.com/WUUJj.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-r{
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    width: 40%;
    background-color: lightblue;
    height: auto;
}
.container-l{
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    width: 40%;
    background-color: lightcoral;
    height: auto;
}

.container-j{
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    width: 40%;
    background-color: lightsteelblue;
    height: auto;
}


.wrap{
text-align: right;
}

.wrapper{
    display: block;
    text-align: right;
}

h1, h2{
    font-family: consolas;
    border: 5px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
}
.col-lg-6{
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}
    .col-lg-6 ul li{
        display: inline;
        padding-right: 20px;
    }
    .col-lg-6 a{
        color: red;
    }

.header{
    width: 100%;
    border-bottom: solid;
    background-color: gainsboro;
}

    .header h1{
        text-align: left;
        display: inline-block;
        width: 90%;
        height: 50px;
        padding: 10px;
    }
    .header a{
        display: inline-block;
    }

@media (max-width: 768px){
    
}